<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
    var testimonialactive = db.QuerySingle("select top(1) * from table_testimonial order by pos asc");
    <add name="mvcconnection" connectionString="Data Source=Richa-PC;Initial Catalog=alis;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=Richa-PC;Initial Catalog=alis;Integrated Security=True"/>
    <add name="ConnectionString" connectionString="Expression: LocalSqlServer"/>
  </connectionStrings>-->
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="server= A2NWPLSK14SQL-v03.shr.prod.iad2.secureserver.net; Network Library = dbmssocn;  Integrated Security = no; Uid =Enquiry_Manage; Pwd=Enquiry_Manage@1234; Encrypt = no; Connect Timeout=200; pooling='true'; Max Pool Size=200; Initial Catalog=enquiry_manage" />
    <add name="mvcconnection" connectionString="server= A2NWPLSK14SQL-v03.shr.prod.iad2.secureserver.net;database=Enquiry_Manage;uid=Enquiry_Manage;pwd=Enquiry_Manage@1234" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Expression: LocalSqlServer" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234.0.0" newVersion="1.5.2.14234.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.cshtml" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/404.cshtml" responseMode="ExecuteURL" />
      <error statusCode="500" subStatusCode="100" path="/404.cshtml" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="rule 2K">
          <match url="As-a-channel-partner" />
          <action type="Rewrite" url="/As-a-channel-partner.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <!--<sessionState mode="StateServer" cookieless="false" timeout="100"></sessionState>-->
    <machineKey validationKey="A2630E97CED409A92DDD55680769F790ADD1CA2849E4F97DEBDA65648F8C68DD9525DB9126B9C887A15C9EE771E47D2D72089B24EFCF5F440E238A1C320C267F" decryptionKey="81B5D31F5B7B4C04809A0EC328506D57A3645FBA142ACF42F4F0BFF6BB3A217D" validation="SHA1" decryption="AES" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--<compilation debug="true" strict="false" explicit="true" defaultLanguage="c#" targetFramework="4.0" tempDirectory="G:\PleskVhosts\advidindia.com\tmp">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, g
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        
        -->
    <httpRuntime maxRequestLength="2000000" />
    <pages clientIDMode="AutoID" />
    <compilation tempDirectory="G:\PleskVhosts\advid.in\tmp" />
  </system.web>
</configuration>